.owlslides_inhome {
    position: relative;
    width: 100%;
}

.owlslides_inhome .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: unset;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.owlslides_inhome .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 0px 5px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #1a8745;
}

.owlslides_inhome .owl-theme .caption {
    position: absolute;
    top: 42%;
    left: 5%;
}

.owlslides_inhome .owl-theme .caption.left {
    position: absolute;
    left: 5%;
    right: 55%;
}

.owlslides_inhome .owl-theme .caption.right {
    position: absolute;
    right: 3%;
    left: 65%;
}

.owlslides_inhome .owl-theme .caption.right_top {
    position: absolute;
    top: 25%;
    right: 10%;
    left: 62%;
}

.owlslides_inhome .owl-theme .caption.right_bottom {
    position: absolute;
    top: 50%;
    right: 3%;
    left: 60%;
}

.owlslides_inhome .owl-theme .caption h3 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 900;
    color: #1a8745;
}

.owlslides_inhome .owl-theme .caption h3 span {
    display: block;
    font-size: 30px;
    line-height: 35px;
    color: #79c64b;
    font-weight: 400;
}
.owlslides_inhome .owl-theme .caption p {
    margin: 10px 0 20px;
}
@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 767px) {
    .owlslides_inhome .owl-theme .caption {
        position: relative !important;
        top: unset !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        background-image: -moz-linear-gradient(top, transparent 10%, #ffffff);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, transparent), color-stop(1.0, #ffffff));
        text-align: justify;
        padding: 1rem;
    }
    .owlslides_inhome .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 10px;
        position: relative;
        bottom: unset;
        left: unset;
        right: unset;
    }
    .owlslides_inhome .owl-theme .caption h3 span {
        font-size: 18px;
        line-height: 20px;
    }

    .owlslides_inhome .owl-theme .caption h3 {
        font-size: 28px;
        line-height: 30px;
        font-weight: 700;
        color: #1a8745;
    }
    .owlslides_inhome .owl-theme .caption p {
        font-size: 16px;
        line-height: 20px;
    }

}

@media (max-width: 375px) {
}