/* Service Main */
.showcat {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
}

.showcat .sheader {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 20px 0 10px;
    display: block;
}

.showcat .listitem {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 0;
    display: block;
}

.showcat .listitem .item {
    position: relative;
    padding: 9px;
    width: 100%;
    margin: 0 0 20px;
    display: block;
    /* border: 1px solid #ebebeb; */
    transition: all 0.3s ease 0s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 19px;
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.showcat .listitem .item .showimg {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    height: 200px;
    display: block;
    transition: all 0.3s ease 0s;
}

.showcat .listitem .item.big .showimg {
    height: 200px;
}

.showcat .listitem .item:hover .showimg img {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s ease 0s;
}

.showcat .listitem .item .showimg img {
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
    max-height: 120%;
}

.showcat .listitem .item .showcontent {
    position: relative;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}

.showcat .listitem .item .showcontent a h3 {
    position: relative;
    margin: 0 0 10px;
    padding: 0px;
    height: 40px;
    color: #333;
}

.showcat .listitem .item:hover .showcontent a h3 {
    color: #1a8745;
}

.showcat .listitem .item .showcontent p {
    display: block;
}

.showcat .listitem .item .showcontent .showdetail {
    position: relative;
    padding: 0;
    margin: 0px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.showcat .listitem .item .showcontent .showdetail .service_price {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: calc(100% - 125px);
    color: #1a8745;
    display: block;
    float: left;
    font-weight: 700;
}

.showcat .listitem .item .showcontent .showdetail .other {
    position: relative;
    padding: 0 10px;
    margin: 0px;
    width: calc(100% - 45px);
    background-color: #1a8745;
    color: #fff;
    display: block;
    height: 45px;
    line-height: 45px;
    float: left;
    text-align: center;
}

.showcat .listitem .item .showcontent .showdetail .other a{
    color: #fff;
}

.showcat .listitem .item .showcontent .showdetail .detail {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: #333;
    color: #fff;
    display: block;
    float: right;
    text-align: center;
    font-size: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.showcat .listitem .item .showcontent .showdetail .detail:hover {
    background-color: #1a8745;
}

/* Service Main */
.detail {
    position: relative;
    padding: 0;
    margin: 40px 0;
    width: 100%;
    overflow: hidden;
}

.detail .show_slideimg {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.detail .show_slideimg .image_popup {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 0;
}

.detail .show_slideimg .image_popup img {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 0;
}

.detail .show_slideimg .slider_imglage {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 0;
    text-align: center;
}

.detail .show_slideimg .slider_imglage img {
    width: 100%;
    text-align: center;
    margin: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.detail .show_slideimg .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px solid #fff;
    left: 0px;
    background: #fff;
    height: auto !important;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.detail .show_slideimg .bx-wrapper .bx-next {
    right: 20px;
}

.detail .show_slideimg .bx-wrapper .bx-prev {
    left: 20px;
}

.detail .show_slideimg .bx-wrapper .bx-controls-direction a {
    z-index: 9;
}

.detail .show_slideimg .slider_imgthumb {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0 10px 0 0;
}

.detail .show_slideimg .slider_imgthumb a {
    display: inline-block;
    margin-bottom: 10px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ebebeb;
}

.detail .show_slideimg .slider_imgthumb a.active {
    border-width: 1px;
    border-style: solid;
    border-color: #1a8745;
}

.detail .show_slideimg .slider_imgthumb img {
    width: 50px;
    margin: 0px auto;
    padding: 0;
}

.detail .show_info {
    position: relative;
    /* padding: 0; */
    margin: 0 auto;
    width: 100%;
}

.detail .show_info .list_info {
    position: relative;
    padding: 0;
    margin: 10px 0;
    width: 100%;
}

.detail .show_info .list_info ul {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #ebebeb;
}

.detail .show_info .list_info ul li {
    position: relative;
    padding: 10px 0px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

.detail .show_info .list_info ul li span {
    font-size: 20px;
    color: #1a8745;
}

.detail .show_info .list_info ul li:last-child {
    border-bottom: 0;
}

.detail .vieworder {
    position: relative;
    padding: 0;
    margin: 10px 0;
    width: 100%;
}

.detail .bodytext {
    position: relative;
    padding: 0;
    margin: 40px 0;
    width: 100%;
}

.detail .bodytext h2 {
}
@media (max-width: 767px) {
	.showcat .listitem .item {
		margin: 0;
	}
	.showcat .listitem .item .showcontent {
		padding: 10px 0;
	}
}
